/*  ======================== reuseable class ==================== */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --dark-color: #323232;
  --dark-blue: #14043c;
  --pink-color: #fc2484;
}

html,
body {
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0rem !important;
  margin: 0rem !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(61%) sepia(173%) saturate(984%) hue-rotate(320deg)
    brightness(88%);
  width: 64px !important;
  height: 45px !important;
}

.carousel-indicators {
  & button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    aspect-ratio: 1/1;
  }
}

.hero-section-btns {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  z-index: 2;

  & button {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.active {
  background-color: var(--pink-color) !important;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.black {
  color: var(--dark-color) !important;
}

.navbar-toggler {
  &:active,
  &:focus,
  &:hover {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
  & i {
    font-size: 2rem;
    background-color: var(--white-color);
    padding: 0rem 0.6rem;
    border-radius: 10px;
  }
}

.ss {
  height: 100dvh;
}

.filter-icons {
  filter: invert(1);
}

/* --------------------- shoaib-code ------------------------ */

.navbar {
  position: absolute;
  top: 0;
  z-index: 5;

  & a {
    color: var(--white-color);

    &:hover,
    &:focus,
    &:active {
      color: auto;
    }
  }

  & .navbar-brand img {
    width: 170px;
  }

  & .navbar-nav li {
    margin-left: 1rem;
  }

  & .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    & img:not(:last-child) {
      width: 23px;
    }

    & img:last-child {
      width: 20px;
    }
  }
}

.navbar-drop-down {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  width: 100%;
  z-index: 4;
  height: 90vh;

  & .sofa-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 0;
    border-right: 1px solid rgb(3, 3, 3);

    & .sofa-card {
      & img {
        width: 67%;
        margin-bottom: 2rem;
      }

      width: 30%;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer !important;
    }
  }
}

.navbar-drop-down-detail {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    background-color: #2b2a2a;
    padding: 1rem;
  }
}

.nav-item {
  margin-bottom: 1rem;
}

/*  ----------------- hero-section -------------------------- */
.hero-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(20, 4, 60, 0.72),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.hero-wrapper {
  height: 100dvh;
  /* position: absolute; */
  /* z-index: 3; */

  & .hero-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 2;

    & .hero-section-carousel {
      position: relative;

      & img {
        width: 100%;
        height: 100dvh;
        object-fit: cover;
      }

      & .hero-content {
        width: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--white-color);
        z-index: 2;

        & h1 {
          font-size: 2.5rem;
          font-weight: 700;
          text-transform: capitalize;
        }

        & p {
          font-size: 1.6rem;
          text-transform: capitalize;
          border-bottom: 2px solid var(--white-color);

          & span {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

/* .main-buttons {
  position: absolute;
  bottom: 20%;
   position: absolute;[
  z-index: 1;
  bottom: 80px;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  & .view-more-btn,
  & .shop-now-btn {
    width: 200px !important;
    border: none;
    border-radius: 5px;
    height: 43px;
  } 
} */

.shop-now-btn {
  margin-right: 10px;
  background-color: var(--dark-blue);
  color: white;
}

.carouselExampleCaptions {
  position: relative;

  & .carousel-indicators {
    display: flex;
    gap: 1rem;
  }

  & img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }

  & .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    & p {
      font-size: 1.4rem;
      text-transform: capitalize;
      letter-spacing: 0.05rem;
      border-bottom: 1.4px solid white;
      width: max-content;
      padding-bottom: 0.5rem;
      margin-inline: auto;
    }

    & small {
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  }
}

.contact-us-section {
  padding-top: 5rem;
  color: var(--white-color);

  & .contact-us-section-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    & h5 {
      text-transform: uppercase;
      font-weight: 400;
    }

    & h2 {
      word-break: break-all;
      text-align: center;
      font-size: 1.7rem;
      letter-spacing: 0.05rem;
    }

    & .contact-form {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      width: 100%;

      & input {
        flex-grow: 2;
        padding: 0.4rem 0.5rem;
        background: none;
        border: 1px solid #ddd;
      }

      & button {
        flex: 1;
        padding: 0.5rem 0;
        border: none;
        outline: none;
        border-radius: 1px;
        text-transform: uppercase;
        color: var(--white-color);
        background-color: var(--pink-color);
        font-size: 0.95rem;
      }
    }
  }

  & .footer-section {
    & hr {
      border-radius: 5px;
      border: 1.5px solid var(--white-color) !important;
    }

    & ul li a {
      font-size: 0.9rem;
    }

    & .production-section {
      & h3 {
        font-size: 1.3rem;
      }

      & ul li {
        margin-block: 1rem;
      }

      & a {
        color: var(--white-color);
      }
    }

    & .findus-section {
      & a {
        color: var(--white-color);
        display: flex;
        gap: 0.5rem;
      }
    }

    & .deep-footer {
      & img {
        width: 150px;
      }

      & .social-icons {
        display: flex;
        align-items: center;
        gap: 1rem;

        & i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* media queries */

@media screen and (max-width: 768px) {
  .hero-content {
    width: 85% !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);

    & h1 {
      font-size: 1.8rem !important;
      font-weight: 700;
      text-transform: capitalize;
    }

    & p {
      font-size: 1.3rem !important;
      text-align: center;
      text-transform: capitalize;

      & span {
        text-transform: uppercase;
      }
    }
  }
}

/********************   Product page      *********************/
.product-section {
  /* background: white; */
  & .navbar {
    background: white;
  }

  & .nav-link {
    color: black;
  }

  .carouselExampleCaptions {
    & img {
      height: 600px;
      object-fit: contain;
    }
  }

  .stepper {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding: 16px 0;
    background-color: #f4f4f4f4;
    border-radius: 5px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 170px;
    height: 60px;
    margin: 0;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 10px;
    background-color: #645f7f;
    clip-path: polygon(75% 0%, 91% 51%, 75% 100%, 0% 100%, 13% 49%, 0% 0%);
  }

  .step.active-step {
    background-color: var(--pink-color);
    color: #fff;
  }

  .step-number {
    width: 30px;
    height: 30px;
    background-color: #d9d9dd;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #645f7f;
    left: calc(50% - 15px);
    margin-right: 10px;
  }

  .step.active-step .step-number {
    background-color: white;
    color: #14043c;
  }

  .step-label {
    font-size: 14px;
  }

  .form-check-label {
    padding: 5px 10px;
    border: 1px solid #979797;
    font-size: 15px;
    border-radius: 7px;
  }

  & .modal-button {
    background-color: #14043c !important;
    color: white !important;
    border: none;
    font-size: 15px;
    padding: 8px 10px;
    width: 130px;
  }

  .product-box {
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #14043c !important;
    border-radius: 2px;
    opacity: 1;
    position: relative;
  }

  .product-image {
    width: 100px;
  }

  .product-info {
    gap: 2px; /* Adjusted for spacing between name and price */
  }

  .container-fluid {
    padding: 0;
  }

  & .sofa-checkbox {
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .color-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .carousel-item.active {
    background-color: transparent !important;
  }

  .color-option {
    /* width: 40px; */
    height: 54px;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
    padding: 2px;

    img {
      width: 45px;
      height: 45px;
    }
  }

  .color-option:hover,
  .color-option.selected {
    border: 2px solid #000;
  }

  .color-red {
    background-color: #ff0000;
  }
  .color-blue {
    background-color: #0000ff;
  }
  .color-green {
    background-color: #00ff00;
  }
  .color-yellow {
    background-color: #ffff00;
  }
  .color-black {
    background-color: #000000;
  }

  .product-total-price {
    box-shadow: 5px -5px 10px rgba(0, 0, 0, 0.5);
    padding: 8px 10px;
    border-radius: 8px;
  }

  .next-step-btn {
    background-color: var(--pink-color);
    color: white;
  }

  .active {
    background-color: transparent !important;
  }

  .nav-tabs {
    font-size: 12px;
  }

  .nav-tabs .nav-link.active {
    border-bottom: 1px solid var(--dark-blue);
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .nav-item {
    margin-bottom: 0;
  }

  & .review-card-img {
    width: 100%;
  }

  & .review-card-btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--dark-blue);
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
  }

  & .review-selected-btn {
    border-radius: 5px;
    margin-top: 7px;
    color: var(--dark-blue);
    background-color: transparent;
    width: 100%;
    padding: 8px 10px;
    border: 2px solid var(--dark-blue);
    margin-bottom: 10px;
  }

  & .review-card-prices div {
    margin-bottom: 5px;
  }

  & .review-card-price {
    color: var(--pink-color);
  }

  & .currency {
    font-size: 12px;
  }
}
