/*  ======================== reuseable class ==================== */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white-color: #fff;
  --dark-color: #323232;
  --dark-blue: #14043c;
  --pink-color: #fc2484;
}

html,
body {
  font-family: "Poppins", sans-serif !important;
}

a {
  text-decoration: none !important;
}

ul {
  list-style: none;
  padding: 0rem !important;
  margin: 0rem !important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(61%) sepia(173%) saturate(984%) hue-rotate(320deg)
    brightness(88%);
  width: 64px !important;
  height: 45px !important;
}

.carousel-indicators {
  & button {
    width: 10px !important;
    height: 10px !important;
    border-radius: 100%;
    aspect-ratio: 1/1;
  }
}

.hero-section-btns {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  z-index: 2;

  & button {
    width: 170px;
    height: 40px;
    border: none;
    border-radius: 5px;
  }
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.active {
  background-color: var(--pink-color) !important;
}

.dark-blue {
  background-color: var(--dark-blue);
}

.black {
  color: var(--dark-color) !important;
}

.navbar-toggler {
  &:active,
  &:focus,
  &:hover {
    outline: none !important;
    box-shadow: none !important;
    border: none !important;
  }
  & i {
    font-size: 2rem;
    background-color: var(--white-color);
    padding: 0rem 0.6rem;
    border-radius: 10px;
  }
}

.ss {
  height: 100dvh;
}

.filter-icons {
  filter: invert(1);
}

/* --------------------- shoaib-code ------------------------ */

.navbar {
  position: absolute;
  top: 0;
  z-index: 5;

  & a {
    color: var(--white-color);

    &:hover,
    &:focus,
    &:active {
      color: auto;
    }
  }

  & .navbar-brand img {
    width: 170px;
  }

  & .navbar-nav li {
    margin-left: 1rem;
  }

  & .social-icons {
    display: flex;
    align-items: center;
    gap: 1rem;
    & img:not(:last-child) {
      width: 23px;
    }

    & img:last-child {
      width: 20px;
    }
  }
}

.navbar-drop-down {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--white-color);
  width: 100%;
  z-index: 4;
  height: 90vh;

  & .sofa-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem 0;
    border-right: 1px solid rgb(3, 3, 3);

    & .sofa-card {
      & img {
        width: 67%;
        margin-bottom: 2rem;
      }

      width: 30%;
      font-size: 14px;
      font-weight: 500;
      cursor: pointer !important;
    }
  }
}

.navbar-drop-down-detail {
  font-size: 14px;
  font-weight: 500;
}

@media screen and (max-width: 992px) {
  .navbar-collapse {
    background-color: #2b2a2a;
    padding: 1rem;
  }
}

.nav-item {
  margin-bottom: 1rem;
}

/*  ----------------- hero-section -------------------------- */
.hero-section::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(20, 4, 60, 0.72),
    rgba(255, 255, 255, 0)
  );
  z-index: 1;
}

.hero-wrapper {
  height: 100dvh;
  /* position: absolute; */
  /* z-index: 3; */

  & .hero-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    z-index: 2;

    & .hero-section-carousel {
      position: relative;

      & img {
        width: 100%;
        height: 100dvh;
        object-fit: cover;
      }

      & .hero-content {
        width: 50%;
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        color: var(--white-color);
        z-index: 2;

        & h1 {
          font-size: 2.5rem;
          font-weight: 700;
          text-transform: capitalize;
        }

        & p {
          font-size: 1.6rem;
          text-transform: capitalize;
          border-bottom: 2px solid var(--white-color);

          & span {
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

/* .main-buttons {
  position: absolute;
  bottom: 20%;
   position: absolute;[
  z-index: 1;
  bottom: 80px;
  width: 50%;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5rem;
  & .view-more-btn,
  & .shop-now-btn {
    width: 200px !important;
    border: none;
    border-radius: 5px;
    height: 43px;
  } 
} */

.shop-now-btn {
  margin-right: 10px;
  background-color: var(--dark-blue);
  color: white;
}

.carouselExampleCaptions {
  position: relative;

  & .carousel-indicators {
    display: flex;
    gap: 1rem;
  }

  & img {
    width: 100%;
    height: 100dvh;
    object-fit: cover;
  }

  & .carousel-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & h1 {
      font-size: 3rem;
      text-transform: uppercase;
      font-weight: 700;
    }

    & p {
      font-size: 1.4rem;
      text-transform: capitalize;
      letter-spacing: 0.05rem;
      border-bottom: 1.4px solid white;
      width: max-content;
      padding-bottom: 0.5rem;
      margin-inline: auto;
    }

    & small {
      font-size: 1.2rem;
      text-transform: capitalize;
    }
  }
}

.contact-us-section {
  padding-top: 5rem;
  color: var(--white-color);

  & .contact-us-section-inner {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;

    & h5 {
      text-transform: uppercase;
      font-weight: 400;
    }

    & h2 {
      word-break: break-all;
      text-align: center;
      font-size: 1.7rem;
      letter-spacing: 0.05rem;
    }

    & .contact-form {
      margin-top: 0.5rem;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      gap: 1rem;
      width: 100%;

      & input {
        flex-grow: 2;
        padding: 0.4rem 0.5rem;
        background: none;
        border: 1px solid #ddd;
      }

      & button {
        flex: 1;
        padding: 0.5rem 0;
        border: none;
        outline: none;
        border-radius: 1px;
        text-transform: uppercase;
        color: var(--white-color);
        background-color: var(--pink-color);
        font-size: 0.95rem;
      }
    }
  }

  & .footer-section {
    & hr {
      border-radius: 5px;
      border: 1.5px solid var(--white-color) !important;
    }

    & ul li a {
      font-size: 0.9rem;
    }

    & .production-section {
      & h3 {
        font-size: 1.3rem;
      }

      & ul li {
        margin-block: 1rem;
      }

      & a {
        color: var(--white-color);
      }
    }

    & .findus-section {
      & a {
        color: var(--white-color);
        display: flex;
        gap: 0.5rem;
      }
    }

    & .deep-footer {
      & img {
        width: 150px;
      }

      & .social-icons {
        display: flex;
        align-items: center;
        gap: 1rem;

        & i {
          font-size: 1.5rem;
        }
      }
    }
  }
}

/* media queries */

@media screen and (max-width: 768px) {
  .hero-content {
    width: 85% !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white-color);

    & h1 {
      font-size: 1.8rem !important;
      font-weight: 700;
      text-transform: capitalize;
    }

    & p {
      font-size: 1.3rem !important;
      text-align: center;
      text-transform: capitalize;

      & span {
        text-transform: uppercase;
      }
    }
  }
}

/********************   Product page      *********************/
.product-section {
  /* background: white; */
  & .navbar {
    background: white;
  }

  & .nav-link {
    color: black;
  }

  .carouselExampleCaptions {
    margin-top: 5px;
    & img {
      /* height: 380px; */
      object-fit: cover;
    }
  }
  & .step-content {
    margin-top: 5px;
  }
  .stepper {
    display: flex;
    justify-content: center;
    margin: 4px 0;
    padding: 8px 0;
    background-color: #f4f4f4f4;
    border-radius: 5px;
  }

  .step {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 130px;
    height: 42px;
    margin: 0;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    position: relative;
    padding: 7px 10px 7px 0px;
    background-color: #645f7f;
    cursor: pointer;
    /* clip-path: polygon(75% 0%, 91% 51%, 75% 100%, 0% 100%, 13% 49%, 0% 0%); */
    clip-path: polygon(75% 0%, 87% 50%, 75% 100%, 0% 100%, 10% 49%, 0% 0%);

    &:hover {
      background-color: var(--pink-color);
      color: white;
    }
  }

  .step.active-step {
    background-color: var(--pink-color);
    color: #fff;
    font-weight: bold;
  }

  .step {
    cursor: pointer;
  }

  .step.visited-step {
    background-color: var(--pink-color);
    color: #fff;
    font-weight: bold;
  }

  .step-number {
    width: 30px;
    height: 30px;
    background-color: #d9d9dd;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: bold;
    color: #645f7f;
    left: calc(50% - 15px);
    margin-right: 10px;
  }

  .step.active-step .step-number {
    background-color: white;
    color: #14043c;
  }

  .step-label {
    font-size: 14px;
  }

  .form-check-label {
    padding: 5px 10px;
    border: 1px solid #979797;
    font-size: 15px;
    border-radius: 7px;
  }

  & .modal-button {
    background-color: #14043c !important;
    color: white !important;
    border: none;
    font-size: 15px;
    padding: 8px 10px;
    width: 130px;
  }

  .product-box {
    padding: 8px 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1px solid #14043c !important;
    border-radius: 2px;
    opacity: 1;
    position: relative;
  }

  .product-image {
    width: 100px;
  }

  .product-info {
    gap: 2px; /* Adjusted for spacing between name and price */
  }

  .container-fluid {
    padding: 0;
  }

  & .sofa-checkbox {
    position: absolute;
    top: 20px;
    left: 10px;
  }

  .color-options {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .carousel-item.active {
    background-color: transparent !important;
  }

  .color-option {
    /* width: 40px; */
    height: 54px;
    border-radius: 50%;
    margin: 0 2px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: border 0.3s;
    padding: 2px;

    img {
      width: 45px;
      height: 45px;
    }
  }

  .color-option:hover,
  .color-option.selected {
    border: 2px solid #000;
  }

  .color-red {
    background-color: #ff0000;
  }
  .color-blue {
    background-color: #0000ff;
  }
  .color-green {
    background-color: #00ff00;
  }
  .color-yellow {
    background-color: #ffff00;
  }
  .color-black {
    background-color: #000000;
  }

  .product-total-price {
    box-shadow: 2px -2px 2px rgba(0, 0, 0, 0.5);
    padding: 8px 10px;
    border-radius: 8px;
    position: fixed;
    right: 0;
    bottom: 0;
    width: 423px;
    right: 10%;
    bottom: 0;
    z-index: 999;
    background-color: white;
  }

  @media (min-width: 1400px) {
    .product-total-price {
      width: 450px;
      right: 10%;
    }
  }

  .next-step-btn {
    background-color: var(--pink-color);
    color: white;
  }

  .active {
    background-color: transparent !important;
  }

  .nav-tabs {
    font-size: 12px;
  }

  .nav-tabs .nav-link.active {
    border-bottom: 1px solid var(--dark-blue);
    border-top: none;
    border-left: none;
    border-right: none;
  }

  .nav-item {
    margin-bottom: 0;
  }

  & .review-card-img {
    width: 100%;
  }

  & .review-card-btn {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: var(--dark-blue);
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 10px;
  }

  .reviews-section {
    .carousel-control-next {
      bottom: 50%;
      left: 90%;
    }
    .carousel-control-prev {
      bottom: 50%;
      left: -4%;
    }
  }

  & .review-selected-btn {
    border-radius: 5px;
    margin-top: 7px;
    color: var(--dark-blue);
    background-color: transparent;
    width: 100%;
    padding: 8px 10px;
    border: 2px solid var(--dark-blue);
    margin-bottom: 10px;
  }

  & .review-card-prices div {
    margin-bottom: 5px;
  }

  & .review-card-price {
    color: var(--pink-color);
  }

  & .currency {
    font-size: 12px;
  }

  & .modal {
    background-color: #4f4f4fd4;
  }
  & .modal-dialog {
    height: 90vh;
    display: flex;
    max-width: 700px !important;
    justify-content: center;
    align-items: center;

    & .carousel-control-prev {
      left: -13%;
    }
    & .carousel-control-next {
      left: 97%;
    }

    .carousel-indicators {
      bottom: -15%;
      & button {
        width: 10px !important;
        height: 10px !important;
        border-radius: 100%;
        aspect-ratio: 1/1;
      }
    }
  }
  & .modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .modal-dialog img {
    width: 300px;
    height: 326px;
  }

  .modal-content {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 13px;
    /* width: 300px; */
  }

  & .scroll-container {
    max-height: 67vh;
    overflow-y: auto;
    padding-right: 15px;
  }

  @media (min-width: 1400px) {
    .scroll-container {
      max-height: 78vh;
    }
  }

  /* Hide the scrollbar for Webkit browsers (Chrome, Safari, etc.) */
  & .scroll-container::-webkit-scrollbar {
    display: none;
  }

  & .option.active-series-type {
    background-color: #f1f1f1;
  }

  .active-series-type {
    background-color: #f1f1f1;
  }
}

/*************** blog cards section *****************/
.card-section .btn {
  border-bottom: 2px solid rgba(111, 0, 255, 0.158);
  font-weight: bold;
  border-radius: 0;
}
.card-section .btn:hover {
  border-bottom: 2px solid rgb(174, 0, 255);
}
.main-cards {
  background-color: #5e5b5b15;
  box-sizing: border-box;
  border-radius: 0;
}
.article-card img {
  height: 18rem;
  object-fit: cover;
  background-position: center;
  border-radius: 0;
}

.blog-section {
  .hero-content {
    font-size: 12px !important;
    width: 100% !important;
    top: 55% !important;
    right: 20% !important;
    display: flex;
    justify-content: flex-end;
  }
  .hero-content h1 {
    font-size: 1.7rem !important;
  }
  .hero-section .btn:hover {
    color: #fff !important;
    background-color: #323232 !important;
    border-radius: 30px !important;
  }
}

/*********************  About us section   *****************************/

/* ----------------------Quality and Reliability Section-------- */
.Quality-section img {
  width: 100%;
}
.Reliability-section {
  background-color: rgba(163, 159, 159, 0.158) !important;
  width: 100%;
  margin: 22rem 0 !important;
}
.Reliability-section img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

/*---------------------------------- carousel----------- */
.testimonials {
  background-color: var(--dark-blue);
  padding: 3rem 0;
  margin-top: 3rem;
}
.testimonials button {
  border-radius: 50%;
  margin-left: 12px;
  background-color: #f0f3f3;
}
#carouselExampleDark {
  height: 250px;
}

/* ====================shop-content---------------*/
.shop-content {
  background-color: #fc2484;
}
.shop-content .btn {
  background-color: rgba(255, 255, 0, 0);
  border: 1px solid black;
  font-weight: 500;
}
.shop-content .btn:hover {
  background-color: rgb(255, 255, 255);
}

.about-us-container {
  & .hero-section::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    z-index: 1;
  }
  & .hero-image {
    /* background: url(/assets/2880_x_810_1_2880x810_crop_center.webp); */
    min-height: 400px !important;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 0;
  }

  .hero-wrapper {
    height: 40dvh;
    /* position: absolute; */
    /* z-index: 3; */

    & .hero-section {
      /* position: absolute; */
      top: 0;
      left: 0;
      width: 100%;
      height: 40dvh;
      z-index: 2;

      & .hero-section-carousel {
        & img {
          width: 100%;
          height: 40dvh;
          object-fit: cover;
        }
      }
    }
  }
}

/**************************   blog detail page     ******************************/

.background-color {
  background-color: #3232320c;
}

.quick-links h5 {
  font-weight: bold;
}
.quick-links a {
  /* font-weight: bold; */
  gap: 1rem;
  margin-bottom: 2rem;
  color: rgba(0, 0, 0, 0.671);
  border-bottom: 1px solid rgba(34, 34, 34, 0.699);
}
.quick-links a:hover {
  /* font-weight: bold; */
  border-bottom: 1px solid rgba(70, 67, 67, 0.507);
  color: rgba(34, 34, 34, 0.507);
}
.quick-links ul li {
  font-weight: bold;
  /* border: 1px solid red; */
}

.article h1,
.article h5 {
  font-weight: 400;
}

/*----------------------------- card section */
.articles-card .btn {
  border-bottom: 2px solid rgba(174, 0, 255, 0.171);
  font-weight: bold;
  border-radius: 0;
}
.articles-card .btn:hover {
  border-bottom: 2px solid rgb(174, 0, 255);
}
/* .articles-card {
    background-color: #5e5b5b15;
    box-sizing: border-box;
    border-radius: 0;
  } */
.article-card img {
  height: 18rem;
  object-fit: cover;
  background-position: center;
  border-radius: 0;
  transition: transform 0.3s ease;
  box-sizing: border-box;
}
.article-card {
  overflow: hidden; /* Prevent the image from overflowing the card */
  /* width: 100%; */
}
.article-card:hover img {
  transform: scale(1.02); /* Slight zoom on hover */
}

/***********************  Custom carousel    ***************************/
.features-modal {
  .carousel-container {
    position: relative;
    /* width: 70%; */
    /* max-width: 1200px; */
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: transparent;
  }

  /* Modal Background */
  .modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1000; /* Ensures modal stays on top */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(
      0,
      0,
      0,
      0.96
    ); /* Dark semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Modal Content */
  .modal-content {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    /* max-width: 900px; */
    width: 100%;
    position: relative;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 1);
  }

  /* Close Button */
  .close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    color: #000;
  }

  .close:hover,
  .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }

  /* Blurred effect for the background when modal is active */
  .blur {
    filter: blur(5px); /* Apply blur to the whole page */
    transition: filter 0.3s ease; /* Smooth transition when blur is applied or removed */
  }

  .carousel {
    overflow: hidden;
    position: relative;
  }

  .carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease;
  }

  .carousel-cell {
    min-width: 45%;
    box-sizing: border-box;
    padding: 10px; /* Adds padding inside the cell */
    margin-right: 15px; /* Adds margin between the cells */
    opacity: 0.5;
    filter: blur(2px);
    transition: transform 0.3s ease, filter 0.3s ease, opacity 0.3s ease;
  }

  .carousel-cell:last-child {
    margin-right: 0; /* Removes margin on the last carousel cell */
  }

  .carousel-cell.is-selected {
    transform: scale(1.1);
    opacity: 1;
    filter: none;
  }

  .carousel-cell.is-blurred {
    filter: blur(4px); /* Stronger blur for non-active cards */
    opacity: 0.5;
  }

  .carousel-img {
    width: 100%;
    border-radius: 10px;
  }

  .carousel-title {
    text-align: center;
    margin: 10px 0;
  }

  .carousel-button {
    display: block;
    margin: 0 auto;
    padding: 5px 10px;
    background: green;
    color: white;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }

  .carousel-button:hover {
    background: darkgreen;
  }

  .carousel-control {
    position: absolute;
    top: 50%;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    z-index: 10;
    transform: translateY(-50%);
  }

  .carousel-control.prev {
    left: 10px;
  }

  .carousel-control.next {
    right: 10px;
  }
}

.feature-card {
  /* width: 450px; */
  height: 400px;
  display: flex;
  /* border: 1px solid #ddd; */
  overflow: hidden;
  margin: 0 20px;
  background-color: white;
  border-radius: 20px;
}

.feature-card img {
  width: 60%;
  height: 100%;
  object-fit: cover; /* Ensures the image covers its container */
}

.feature-card-content {
  width: 40%;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
}

.feature-card-content h4 {
  margin-bottom: 10px;
  font-size: 18px;
}

.feature-card-content p {
  font-size: 12px;
  line-height: 1.5;
}

.custom-dots {
  text-align: center;
  margin-top: 10px;
}

.custom-dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: gray;
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.custom-dot.selected {
  background-color: var(--pink-color);
}
